* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Inter Tight', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}

header {
    display: flex;
    background-color: #AA6767;
    height: 85px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 5rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.perfil-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
    background-color: #F9F2F0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    color: black;
}

.perfil-button.notif {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-button.notif img,
.perfil-button.notifAgenda img {
    margin: 0;
}

.perfil-button.prof {
    width: 12rem;
}

.perfil-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

main {
    width: 80vw;
    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17em;
    padding: 3em;
    margin: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfil-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #FFE7D1;
    border-radius: 10px
}

.left-side img {
    width: 60%;
    height: 60%;
    border-radius: 10px;
}

.left-side h2 {
    margin-top: 20px;
}

.right-side {
    width: 30em;
}

label {
    display: block;
    margin-bottom: 30px;
}

input, textarea, select {
    background-color: #FFE7D1;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

textarea {
    height: auto;
    resize: none;
}

form h3 {
    display: block;
    margin-bottom: 10px;
}

.button-prt {
    display: block;
    margin: 0 auto;
    margin-top: 4em;
    padding: 10px;
    width: 150px;
    background-color: white;
    border: 1px solid #BF6400;
    border-radius: 10px;
    color: #BF6400;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}