* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Inter Tight', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}

header {
    display: flex;
    background-color: #AA6767;
    height: 85px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 5rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.perfil-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
    background-color: #F9F2F0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    text-decoration: none;
    color: black;
}

.perfil-button.notif {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-button.notif img {
    margin: 0;
}

.perfil-button.prof {
    width: 12rem;
}

.perfil-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

main {
    width: 100vw;
    margin: 0 auto;
}

.email-container {
    display: flex;
    height: 100vh;
}

.menu-sidebar {
    min-width: 190px;
    background: #e0c0b0;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.menu-button {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
    color: #464444;
}

.menu-button:hover {
    background: #d5b8a8;
}

.email-sidebar {
    min-width: 450px;
    background: #f0e0d0;
    padding: 15px;
    border-right: 2px solid #d5b8a8;
}

.barra-pesquisa {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border: none;
    box-shadow: 2px 2px 5px gray;
}

.email-list {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #6b6868;
}

.email-title {
    background: #fff;
    padding: 5px;
    padding-left: 8px;
    width: 95%;
    border-radius: 10px;
}

.email-prev {
    padding-left: 5px;
    margin-top: 3px;
}

.email-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.email-item:hover {
    background: #e0d0c0;
}

.profile-pic {
    width: 50px;
    height: 50px;
    background: #aaa;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid #F8E6E4;
}

.email-preview {
    flex-grow: 1;
}

.notificacao {
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    width: 25px;
}

.email-content {
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 8px;
    
}

/* Cabeçalho do email */
.email-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.email-cab {
    display: flex;
}

.email-rmt {
    display: flex;
    flex-direction: column;
}

.email-delete {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
}

/* Corpo do email */
.email-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/* Rodapé com o botão */
.email-footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.email-footer a {
    padding: 12px;
    border: 1px solid #BF6400;
    border-radius: 10px;
    color: #BF6400;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    outline: none;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none; 
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border-radius: 10px;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    opacity: 1;
}

.mod-header {
    display: block;
    justify-content: flex-end;
    background: #ffe4cc;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    height: 2.5em;
    box-sizing: border-box;
}

.mod-body {
    padding: 0 20px 20px 20px;
}

.mod-resposta {
    border: 1px solid #ffe4cc;
    width: 100%;
    outline: none;
    resize: none;
    padding: 7px;
}

.modal-close {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #ffb3b3;
    border: none;
    border-radius: 20%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.modal h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.modal-confirm {
    background: #E3C6BF;
    color: #333;
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
}