* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Inter Tight', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}

header {
    display: flex;
    background-color: #AA6767;
    height: 85px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 5rem;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.perfil-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.5rem;
    height: 2.5rem;
    background-color: #F9F2F0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.perfil-button.prof {
    width: 12rem;
}

.perfil-button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

main {
    width: 80vw;
    margin: 0 auto;
}

.container {
    display: flex;
    gap: 20px;
    padding: 30px;
    width: 100%;
    height: auto;
}

.left-panel {
    flex: 1;
    background-color: #F5D1C4;
    border-radius: 10px;
    padding: 20px;
}

.profile-sup {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    background-color: #F9F2F0;
}

.profile-img img {
    width: 85%;
    height: 85%;
    margin: 7.5%;
    border-radius: 10px;
    object-fit: cover;
}

.profile-sup h2,
.profile-sup p,
.profile-sup h3,
.sobre h3 {
    background-color: #F9F2F0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 7px;
}

.stats p {
    background-color: #F5D1C4;
    padding: 0;
    margin: 0;
    text-align: center;
}

.stats h3 {
    text-align: center;
    min-width: 130px;
}

.profile-card { 
    color: #333;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    background-color: re;
}

.sobre {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.sobre h3 {
    margin-bottom: 10px;
    width: 25%;
    text-align: center;
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
}

.main-btn {
    background-color: #F8E6E4;
    padding: 15px 20px;
    margin-bottom: 17em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 23em;
}

.main-btn:hover {
    background-color: #F5AD9D;
}

.secondary-btn {
    background-color: #F8E6E4;
    padding: 12px 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.main-btn, 
.secondary-btn {
    font-weight: bold;
    font-size: 18px;
}

.secondary-btn:last-child {
    background-color: #F5AD9D;
}

#modalConfirmed  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none; 
    justify-content: center;
    align-items: center;
}

#modalLink {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none; 
    justify-content: center;
    align-items: center;
}

#modalRegister {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.mod-header {
    display: block;
    justify-content: flex-end;
    background: #ffe4cc;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    height: 2.5em;
    box-sizing: border-box;
}

.mod-body {
    padding: 0 20px 20px 20px;
}

.mod-inputs input {
    padding: 7px;
    background-color: #F4EDE4;
    border: 1px solid #B4783C;
    border-radius: 10px;
}

.mod-inputs p {
    display: flex;
    margin-left: 45px;
}

.mod-body input[type="submit"] {
    background: #d4edda;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.mod-body select {
    background: #ffe4cc;
    border: none;
    padding: 4px;
    border-radius: 5px;
    font-size: 16px;
}

#modalConfirmed img {
    cursor: pointer;
}

.modal {
    background-color: white;
    border-radius: 10px;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #ffb3b3;
    border: none;
    border-radius: 20%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.modal h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}
.modal p,
.modal a {
    margin-top: 10px;
    line-height: 2.0;
}

.modal span {
    background: #F5AD9D;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;
    font-size: 14px;
}

.modal-confirm {
    background: #d4f1d4;
    color: #4caf50;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
}