* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-principal: 'Inter Tight', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}



header {
    display: flex;
    background-color: #AA6767;
    height: 85px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10rem;
    height: 5rem;
}



.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.login-button,
.botao-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 2.5rem;
    background-color: #F9F2F0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.botao-cadastrar {
    text-decoration: none;
    outline: none;
    color: black;
}

main {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 22rem;
    align-items: center;
}

.img-container {
    flex:1;
    max-width: 400px;
    
}

.img-container img {
    width: 100%;
    object-fit: cover;
}

.img-container2 {
    flex: 1;
    min-width: 400px;
    min-height: 500px;
}

.img-container2 img {
    width: 400px;
    object-fit: cover;
    height: 500px;
}

.forms-container {
    flex: 1;
    background-color: #D1A39D;
    border-radius: 5px;
    padding: 30px;
    max-width: 300px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form h2 {
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
}

.signup-form input {
    padding: 10px;
    margin-bottom: 25px;
    border: none;
    border-radius: 5px;
    background-color: #F9F2F0;
    font-size: 16px;
}

.signup-form button {
    padding: 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 50%;
} 

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none; 
    transition: opacity 0.3s ease;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    border-radius: 10px;    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    opacity: 1;
}

.mod-header {
    display: block;
    justify-content: flex-end;
    background: #ffe4cc;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    height: 2.5em;
    box-sizing: border-box;
}

.mod-body {
    padding: 0 20px 20px 20px;
}

.modal-close {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #ffb3b3;
    border: none;
    border-radius: 20%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

.modal h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}
.modal a {
    margin: 10px 0;
    line-height: 1.8;
}

.modal input {
    background-color: #ffe4cc;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

#enviar-submit {
    margin-top: 20px;
    cursor: pointer;
}

.modal-confirm {
    background: #E3C6BF;
    color: #333;
    width: 40%;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
}


.modal input:last-child {
    margin-bottom: 20px;
}

/*modal*/

