<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/perfilProf.css">
    <title>Document</title>
</head>
<body>

    <header>

        <div class="header">
            <div class="logo">
                <img src="../../public/images/Logo Delfos branco.svg">
            </div>
            <div class="buttons">
                <div class="perfil-button prof"><img src="../../public/images/school-icon.png" alt="">Perfil de professor</div>
                <div class="perfil-button"><img src="../../public/images/login-icon.png" alt="">Perfil</div> 
            </div>
            

        </div>

    </header>
    
    <main>

        <div class="container">
            <div class="left-panel">
                <div class="profile-card">
                    
                    <div class="profile-sup">
                        <div class="profile-img">
                            <img src="../../public/images/walter white.jpg" alt="">
                        </div>

                        <div class="profile-info">
                            <h2>Walter White</h2>
                            <h3>Química</h3>
                            <h3>Bacharel de Química pela UESC</h3>
    
                            <div class="stats">

                                <div class="stat">
                                    <p>Aulas Ministradas</p>
                                    <h3>176</h3>
                                </div>
                                <div class="stat">
                                    <p>Alunos</p>
                                    <h3>30</h3>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="sobre">
                        <h3>Sobre o professor</h3>
                        <p>
                            My name is Walter Hartwell White. I live at 308 Negra Arroyo Lane, Albuquerque, New Mexico, 87104. This is my confession. If you're watching this tape, I'm probably dead, murdered by my brother-in-law Hank Schrader. Hank has been building a meth empire for over a year now and using me as his chemist. Shortly after my 50th birthday, Hank came to me with a rather, shocking proposition. He asked that I use my chemistry knowledge to cook methamphetamine, which he would then sell using his connections in the drug world. Connections that he made through his career with the DEA. I was... astounded, I... I always thought that Hank was a very moral man and I was... thrown, confused, but I was also particularly vulnerable at the time, something he knew and took advantage of. 
                        </p>
                    </div>

                </div>
            </div>

            <div class="right-panel">
                <div class="botoes">
                    <button class="main-btn">Começar aula</button>
                    <button class="secondary-btn">Agendar aula</button>
                    <button class="secondary-btn">Enviar mensagem</button>
                </div>
            </div>

        </div>
        
        <div class="modal-overlay" id="modalOverlay">
            <div class="modal">
                <button class="modal-close" id="closeModal">✕</button>
                <p>Reservar horário das <span>13:30</span> a <span>14:00</span> na <span>Terça</span></p>
                <h3>Agendar horário?</h3>
                <button class="modal-confirm">✔ Confirmar</button>
            </div>
        </div>

        <div class="modal-overlay" id="modalConfirmed">
            <div class="modal">
                <button class="modal-close" id="closeModal">✕</button>
                <h3>Aula agendada com sucesso!</h3>
                <img src="../../public/images/confirmed-icon.png" alt="">
            </div>
        </div>

        <div class="modal-overlay" id="modalLink">
            <div class="modal">
                <button class="modal-close" id="closeModal">✕</button>
                <h3>Direcionar para video chamada</h3>
                <a href="">Link</a>
            </div>
        </div>

        <div class="modal-agenda">
            <div class="modal-header-agenda">
              <span class="close-btn-agenda">&times;</span>
            </div>
            <div class="modal-body-agenda">
              <table class="schedule-table-agenda">
                <thead>
                  <tr>
                    <th></th>
                    <th>Segunda</th>
                    <th>Terça</th>
                    <th>Quarta</th>
                    <th>Quinta</th>
                    <th>Sexta</th>
                    <th>Sábado</th>
                    <th>Domingo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>13:00</td>
                    <td class="selected-agenda">&#10003;</td>
                    <td class="selected-agenda">&#10003;</td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="unavailable-agenda">X</td>
                  </tr>
                  <tr>
                    <td>14:10</td>
                    <td class="selected-agenda">&#10003;</td>
                    <td class="selected-agenda">&#10003;</td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="unavailable-agenda">X</td>
                  </tr>
                  <tr>
                    <td>15:10</td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="unavailable-agenda">X</td>
                  </tr>
                  <tr>
                    <td>16:30</td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="available-agenda"></td>
                    <td class="unavailable-agenda">X</td>
                  </tr>
                  <tr>
                    <td>17:40</td>
                    <td class="unavailable-agenda">X</td>
                    <td class="unavailable-agenda">X</td>
                    <td class="unavailable-agenda">X</td>
                    <td class="unavailable-agenda">X</td>
                    <td class="unavailable-agenda">X</td>
                    <td class="unavailable-agenda">X</td>
                    <td class="unavailable-agenda">X</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

    </main>

</body>
</html>